.container-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-layout {
  width: 60%;
  background-color: #30303073;
  border-radius: 16px;
}

.content-titles,
.inner-content {
  display: grid;
  grid-template-columns: 5fr 5fr 2fr 5fr;
  align-items: center;
  padding: 0.75rem;
}

.inner-content {
  margin: 0.25rem 0;
}

.content-titles {
  border-bottom: 1px solid #fff;
  font-weight: bold;
}
.exclude-btn,
.edit-btn,
.infos-btn {
  padding: 0.4rem 1.5rem;
  margin: 0.1rem 1.25rem 0 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition-duration: 0.2s;
  font-weight: 500;
}
.exclude-btn {
  background-color: #c82f2f;
}
.exclude-btn:hover {
  background-color: #ae1d1d;
}
.edit-btn {
  background-color: #2e7f3f;
}
.edit-btn:hover {
  background-color: #1d6a2c;
}
.infos-btn {
  background-color: #3662c8;
}
.infos-btn:hover {
  background-color: #2b50a6;
}
@media (max-width: 1400px) {
  .exclude-btn,
  .edit-btn,
  .infos-btn {
    padding: 0.4rem 1.25rem;
    margin: 0.1rem 1rem 0 0;
  }
}

@media (max-width: 1180px) {
  .content-layout {
    width: 80%;
  }
}

@media (max-width: 840px) {
  .content-layout {
    width: 90%;
  }
  .inner-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0.75rem;
  }
}

.blur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(48px);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}
